<div class="divPrincipal">
    <nav class="nav">
        <div class="centralizador padinIcon">
            <button mat-button class="centralizador" (click)="obterLista()">Vagas</button>
        </div>
        <span style="flex: auto;"></span>
        <div class="centralizador padinIcon">
            <button mat-icon-button class="centralizador">
                <mat-icon class="redirect">
                    <span class="material-symbols-outlined">
                        account_circle
                    </span>
                </mat-icon>
            </button>
        </div>
    </nav>
    <div class="cadastrar" style="width: 100%;">
    </div>
</div>