.titulo {
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 60dvw;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    .cadastrar:hover{
        color: white;
        background-color: rgb(71, 209, 71);
    }
    .cancelar:hover{
        color: white;
        background-color: rgb(241, 35, 35);
    }
}
